.dashboardContainer :global {
  background: #fbfbfb;
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  .dashboardChild {
    position: relative;
    &::before {
      content: "";
      width: 0%;
      min-height: 100vh;
      background: #005081;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      animation-name: openPageAnimation;
      animation-duration: 500ms;
    }
    &::after {
      content: "";
      width: 0%;
      min-height: 100vh;
      background: #005081;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      animation-name: openPageAnimation;
      animation-duration: 500ms;
    }
  }
}
