.sidebarRoot :global {
  .sidebarElement {
    position: relative;
    width: 100%;
    background: none;
    z-index: 10;

    ::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #cffffd;
      z-index: -10;
      transform: scaleX(0);
      transform-origin: center;
      transition: all 0.1s;
    }

    :hover {
      ::before {
        transform: scaleX(1);
        transition: all 0.3s;
      }
      opacity: 1 !important;
      color: #37c3e9;
      span {
        color: #37c3e9;
      }
    }

    > div {
      cursor: pointer;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 1.75rem;
      padding-right: 1rem;
      display: flex;
      align-items: flex-end;
      gap: 0.5rem;
      opacity: 0.8;
      svg {
        width: 20px;
        height: 20px;
      }
      span {
        font-weight: 600;
        line-height: 1rem;
        font-size: 1rem;
        color: #313131;
        font-family: "Lato";
      }
    }
  }

  .active {
    > div {
      opacity: 1 !important;
      color: #37c3e9;
      span {
        color: #37c3e9;
      }
    }
  }

  .childElement {
    position: relative;
    width: 100%;
    background: none;
    z-index: 10;

    ::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #cffffd;
      z-index: -10;
      transform: scaleX(0);
      transform-origin: left;
      transition: all 0.2s;
    }
    ::after {
      content: "";
      width: 5px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: #68dfff;
      z-index: -1;
      transform: scaleX(0);
      transform-origin: right;
      transition: all 0.2s;
    }

    :hover {
      ::after {
        transform: scaleX(1);
        transition: all 0.4s;
      }
      ::before {
        transform: scaleX(1);
        transition: all 0.4s;
      }
      opacity: 1 !important;
      color: #37c3e9;
      span {
        color: #37c3e9;
      }
    }
    > div {
      cursor: pointer;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 1.75rem;
      padding-right: 1rem;
      display: flex;
      align-items: flex-end;
      gap: 0.5rem;
      opacity: 0.8;
      svg {
        width: 20px;
        height: 20px;
      }
      span {
        font-weight: 600;
        line-height: 1rem;
        font-size: 1rem;
        color: #313131;
        font-family: "Lato";
      }
    }
  }

  .activeChild {
    ::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #cffffd;
      z-index: -10;
      transform: scaleX(1);
      transform-origin: left;
      transition: all 0.2s;
    }
    ::after {
      content: "";
      width: 5px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: #68dfff;
      z-index: -1;
      transform: scaleX(1);
      transform-origin: right;
      transition: all 0.2s;
    }
    > div {
      opacity: 1 !important;
      color: #37c3e9;
      span {
        color: #37c3e9;
      }
    }
  }

  .subMenuElement {
    > div > span {
      padding-left: 26px;
    }
  }

  .subMenu {
    display: none;
  }
  .subMenuActive {
    display: block !important;
    animation-name: subMenuAnimation;
    animation-duration: 0.3s;
    transform-origin: top;
    background: #edfffe;
    border-radius: 8px;
  }
}
