@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@keyframes subMenuAnimation {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@layer components {
  .pageStyle {
    @apply w-full px-5 py-5;
  }
}

@keyframes bounce {
  to {
    opacity: 0.4;
    transform: translate3d(0, -0.5rem, 0);
  }
}

@keyframes openPageAnimation {
  0% {
    width: 51%;
  }
  100% {
    width: 0%;
  }
}
